<!-- File: chapter4/checkbox-example.html -->

<!doctype html>
<html lang="en" data-ng-app="notesApp">
  <head>
    <meta charset="utf-8">
    <title>Notes App</title>
  </head>
  <body data-ng-controller="MainCtrl as ctrl">

    <div>
      <h2>What are your favorite sports?</h2>
      <div data-ng-repeat="sport in ctrl.sports">
        <label data-ng-bind="sport.label"></label>
        <div>
          With Binding:
          <input type="checkbox"
                 data-ng-model="sport.selected"
                 data-ng-true-value="YES"
                 data-ng-false-value="NO" />
        </div>
        <div>
          Using ng-checked:
          <input type="checkbox"
                 data-ng-checked="sport.selected === 'YES'" />
        </div>
        <div>
          Current state: {{sport.selected}}
        </div>
      </div>
    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script type="text/javascript">
      angular.module('notesApp', [])
        .controller('MainCtrl', [function() {
          var self = this;
          self.sports = [
            {label: 'Basketball', selected: 'YES'},
            {label: 'Cricket', selected: 'NO'},
            {label: 'Soccer', selected: 'NO'},
            {label: 'Swimming', selected: 'YES'}
          ];
       }]);
    </script>

  </body>
</html>
