<!-- File: chapter4/form-validation.html -->

<!doctype html>
<html lang="en" data-ng-app="notesApp">
  <head>
    <meta charset="utf-8">
    <title>Notes App</title>
  </head>
  <body data-ng-controller="MainCtrl as ctrl">

    <form ng-submit="ctrl.submit()" name="myForm">
      <input type="text"
             data-ng-model="ctrl.user.username"
             required
             ng-minlength="4">
      <input type="password"
             data-ng-model="ctrl.user.password"
             required>
      <input type="submit"
             value="Submit"
             data-ng-disabled="myForm.$invalid">
    </form>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script type="text/javascript">
      angular.module('notesApp', [])
        .controller('MainCtrl', [function() {
          var self = this;
          self.submit = function() {
            console.log('User clicked submit with ', self.user);
          };
        }]);
    </script>

  </body>
</html>
